@import url('https://fonts.googleapis.com/css?family=Bebas+Neau&display=swap');
@import url('https://fonts.googleapis.com/css?family=Lato&display=swap');

body {
    background-color: white;
    font-family: 'Lato';
    font-weight: light;
    text-align: center;
    color: #000000;
}

#name {
    float: left;
    position: relative;
    display: block;
    color: #000000;
    text-align: center;
    padding: 2vw;
    font-family: 'Lato';
    font-weight: bold;
    font-size: 1.5em;
}

.navbar-item {
        font-family: 'Lato';
        font-weight: light;
        font-size: 1.25 em;
}
.portfolio {
    top: 220px;
    position: relative;
    padding:60px;
}
.port-desc {
    float: left;
    position: relative;
    display: block;
    color: #474747;
    text-align: center;
    padding: 2vw;
    font-family: 'Lato';
    font-weight: light;
    font-size: 1em;
}
.rect {
    height: 50px;
    width: 140px;
    background-color: #EBD6B4;
}
footer {
    text-align: center;
    font-size: 0.7em;
    color: #919191;
    font-family: 'Lato';
    font-weight: light;
    padding: 20px;
}